/* GENERAL START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

body {
  padding: min(50px, 7%);
  background-color: rgb(13, 13, 20);
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.main {
  flex: 1;
  color: #fff;
}

h1 {
  margin: 30px 0;
}

h2 {
  font-size: 7vw + 0.5rem;
}

a:hover {
  color: goldenrod;
}

.main-content {
  flex: 1;
  padding: 20px 40px;
  position: relative;
  flex-direction: column;
  z-index: 1;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/background_01-better.jpg') no-repeat center center fixed, rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: opacity 0.3s;
}

.background-cover {
  position: fixed;
  background: rgba(120, 120, 120, 0.7);
  background-size: cover;
  z-index: 10;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(5px); */
}
/* GENERAL END */

/* OFFCANVAS */
.offcanvas a:hover {
  color: goldenrod;
}
.offcanvas a {
  color: rgba(239, 239, 239, 0.9);
  font-size: 1.7rem;
}

.navbar {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
/* OFFCANVAS */

/* CENNIK START */
.card {
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  color: white;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
}

/* .grid-container > .card:last-child {
  grid-column: span 2;
}

.grid-container > .card {
  width: 100%;
  max-width: 600px;
} */
/* CENNIK END */


#btn-open {
  background: transparent;
  border: 1px solid red;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
}

#btn-open:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* HOME PAGE START */
.profile {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.profile h2 {
  margin: 0;
  text-align: left;
  flex-wrap: wrap;
}

.profile img {
  border-radius: 50%;
  width: clamp(10.5rem, 15vw, 18.25rem);
  height: clamp(10.5rem, 15vw, 18.25rem);
  object-fit: cover;
  border: 2px solid #0258a877;
}

.quote {
  font-family: 'raleway', serif;
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-style: italic;
  color: #fff;
  line-height: 1.8;
  text-align: center;
  margin: 0px auto;
  margin-top: 0 0;
  max-width: 700px;
  min-width: 300px;
  
  position: relative;
  
  padding: 20px 0;
  padding-top: 0 0;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  z-index: 2;
 }

 .quote footer {
  margin-top: 10px;
  font-size: 1rem;
  color: #777;
  text-align: right;
  font-style: normal;
}
/* HOME PAGE END */

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  z-index: 1001;
}

@media (min-width: 1100px) {
  .quote {
    min-width: 1000px;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}

@media (max-width: 800px) {
  .profile {
    flex-direction: column;
  }
  .card {
    width: 100vw;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container > .card:last-child {
    grid-column: span 1;
  }
}

@media (max-width: 320px) {
  .quote {
    display: none;
  }
  .offcanvas .nav-toggler {
    padding-right: 0;
    margin-right: 0;
  }
}
