{% extends "base.html" %} {% block title %}Strona Główna{% endblock %} {% block
content %}
<div class="background-cover"></div>

<header>
  <h1>Cennik</h1>
</header>

<div class="grid-container">
  <div class="card">
    <h2>Terapia Stacjonarna</h2>
    <hr>
    <h4>Cena: 220zł</h4>
    <hr>
    <p>Sesja trwa do 50 minut</p>
    <p>
Terapia indywidualna to spotkanie dwojga ludzi, gdzie jeden z nich – terapeuta – zobowiązany jest do dyskrecji, zaufania i zaangażowania.
    </p>
  </div>

  <div class="card">
    <h2>Terapia Online</h2>
    <hr>
    <h4>Cena: 200zł</h4>
    <hr>
    <p>
      Sesja terapii online odbywa się za pomocą wideo-rozmowy za pośrednictwem komunikatora skype, messenger bądź innego, ustalonego wcześniej.
    </p>
  </div>
</div>

{% endblock %}
