{% extends 'base.html' %} {% block content %}
<header>
  <style>
    h1 {
      text-align: center;
    }
    h5 {
      text-align: left;
    }
    ul {
      text-align: left;
    }
    p {
      font-size: 1.2rem;
    }
    li {
      font-size: 1.2rem;
    }
    a:hover {
      color: goldenrod;
    }

  </style>
</header>

<div
  class="grid-container">
  <div class="card">
    <h2>O Mnie</h2>
    <hr>
    <p>
      Pracuję jako terapeutka, psycholog od 20 lat. Mama trójki dzieci. Kochająca przyrodę i zwierzęta. <hr>
      <div class="footer-icons" style="display: flex; flex-direction: row; justify-content: center;">
      <a 
      href="https://www.znanylekarz.pl/marta-bucholc/"
      target="_blank"
      style="text-decoration: none; 
      color: white;
      font-weight: bold;
      font-size: 1.2rem;"
      onmouseover="this.style.color = 'goldenrod'"
      onmouseout="this.style.color='white'"
      >www.znanylekarz.pl</a>
        <a href="https://www.znanylekarz.pl/marta-bucholc/psycholog-psychoterapeuta/warszawa" target="_blank">
          <img src="{{ url_for('static', filename='images/znany_lekarz.png') }}" />
        </a>
      </div>
    </p>
  </div>

  <div class="card">
    <h2>Doświadczenie</h2>
    <hr>
    <p>Doświadczenie zdobyłam w ośrodkach stacjonarnych readaptacyjno-rehabilitacyjnych oraz poradniach zdrowia psychicznego, współpracując z prywatnymi gabinetami psychoterapeutycznymi. Obecnie prowadzę własną praktykę.</p>
  </div>

  <div class="card">
    <h2>Edukacja</h2>
    <hr>
    <strong><p style="text-align: left;">Absolwentka:</p></strong>
    <ul>
      <li>Uniwersytetu Warszawskiego,</li>
      <li>Instytutu psychologii Zdrowia,</li>
      <li>Synapsiss terapii rodzin,</li>
    </ul>
    <p style="text-align: left;">oraz wielu szkoleń dotyczących zaburzeń więzi, DDA i uzależnień.</p>
  </div>

  <div class="card">
    <h2>Pomagam w</h2>
    <hr>
    <ul>
      <li>Zaburzenia lękowe</li>
      <li>Zaburzenia emocjonalne</li>
      <li>Depresja</li>
      <li>Zaburzenia nastroju</li>
      <li>Uzależnienia od substancji psychoaktywnych i behawioralnych</li>
    </ul>
  </div>

  <!-- <div class="card">
    <h2>Doświadczenie</h2>
    <hr>
    <ul>
      <li>
        Praca z osobami dorosłymi z zaburzeniami osobowości (Prywatny Gabinet na
        Ursynowie).
      </li>
      <li>
        Terapia osób uzależnionych od substancji psychoaktywnych i uzależnień
        behawioralnych:
        <ul>
          <li>Hospicjum Św. Krzyża w Warszawie.</li>
          <li>Oddział Dzienny Uzależnień PL WAT.</li>
          <li>Prywatny Gabinet.</li>
        </ul>
      </li>
    </ul>
  </div> -->


  <div class="card">
    <h2>Podejście terapeutyczne</h2>
    <hr>
    <ul>
      <li>
        Wspieram w odnalezieniu harmonii między emocjami, potrzebami i myślami.
      </li>
      <li>
        Wierzę, że brak spójności prowadzi do poszukiwania niesprzyjających
        rozwiązań, które mogą szkodzić zdrowiu psychicznemu i fizycznemu.
      </li>
      <li>
        Relacja terapeutyczna oparta na akceptacji i zrozumieniu pozwala
        odnaleźć spokój, odbudować poczucie własnej wartości i wprowadzić
        pozytywne zmiany w życiu.
      </li>
    </ul>
  </div>
</div>

{% endblock %}
