{% extends 'base.html' %} {% block content %}
<header>
  <style>
    h1 {
      text-align: center;
    }
    h5 {
      text-align: left;
    }
    ul {
      text-align: left;
    }
    p {
      font-size: 1.2rem;
    }
    li {
      font-size: 1.2rem;
      padding: 1rem 0;
    }
  </style>
</header>

<div class="grid-container" style="padding-top: 20px;">
  <div class="card">
    <h2>Dlaczego Terapia Jest Ważna?</h2>
    <ul>
      <li>
        Terapia jest niezwykle istotnym elementem zdrowia psychicznego i
        emocjonalnego, który pozwala nie tylko na poprawę samopoczucia, ale
        również na głębsze zrozumienie siebie oraz swoich trudności. Jako
        magister psychologii i psychoterapeuta z wieloletnim doświadczeniem,
        wiem, jak duży wpływ na jakość życia ma odpowiednia pomoc w trudnych
        momentach.
      </li>
      <li>
        Wielu z nas zmaga się z różnymi wyzwaniami – stresem, lękami, depresją,
        traumami, trudnościami w relacjach czy problemami z poczuciem własnej
        wartości. Terapia daje szansę na uwolnienie się od tych obciążeń,
        pomagając zrozumieć przyczyny swoich trudności i znaleźć skuteczne
        strategie radzenia sobie z nimi. Pracując nad sobą w bezpiecznej,
        wspierającej przestrzeni, można nauczyć się, jak lepiej reagować na
        stres, poprawić jakość relacji z innymi i odnaleźć wewnętrzną równowagę.
      </li>
      <li>
        Jako terapeuta wierzę, że każdy zasługuje na to, aby żyć w zgodzie ze
        sobą, odnaleźć harmonię i realizować swój pełny potencjał. Terapia to
        proces, który pozwala na osobisty rozwój, przełamywanie barier i
        budowanie większej odporności na trudności życiowe. Jest to inwestycja w
        lepsze życie – dla siebie i dla swoich bliskich.
      </li>

      <li>
        Zapraszam Cię do skorzystania z mojej pomocy, jeśli czujesz, że coś w
        Twoim życiu nie działa tak, jak byś chciał, lub po prostu chcesz lepiej
        zrozumieć siebie. Wspólnie możemy wypracować skuteczne narzędzia, które
        pomogą Ci przejść przez życiowe wyzwania i odnaleźć drogę do spełnienia
        i szczęścia.
      </li>
    </ul>
  </div>
</div>
{% endblock %}
